@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  background: rgb(221, 221, 221);
  font-family: "PT Serif", serif;
  text-align: center;
  list-style-type: none;
}
